{{! Display for a single blog with comments }}
<div class="col-sm-12 col-md-9 col-lg-6 mx-auto">
  <div class="blog d-flex flex-column" >
    <div class="align-self-center mt-2">
      <h1 class="titleSize fs-1">{{title}}</h1>
    </div>
   
     
    <div class="align-self-center">
      <br />
      <p class="text-justify fs-6">
        {{body}}
      </p>
    </div>

    <br />
    <div class="align-self-center">
      <p>
        <a href="/blogs/{{id}}/addComment" class="btn btn-primary">addNewComment( )</a>
      </p>
    </div>
<br>
Comments:
    <!-- Loop over each comment in the comments array and display each comment -->
    {{#each comments as |comment|}}
    <div class="row d-flex justify-content-center border rounded mb-3">
      <div class="blog d-flex flex-column">
        <div class="pt-3 ">
          <p class="text-center h3">"{{comment.body}}"</p> 
        </div>
      </div>
      <div>
        <p class="text-center h4">-{{user.name}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />