{{!-- Display for profile once signed in --}}


<div style="background-color: black;">

  <div class="text-center">
    <h2 class="text-center titleSize">Hello, {{name}}!</h2>
  </div>

  <div class="text-center titleSize">➕<a href="/profile/createBlog" class="text-center titleSize">createNewBlogPost</a>
  </div>
  </br>

  
       <div class="row d-flex justify-content-center" style="background-color: black;">
      <div class="d-flex flex-column mb-3 w-50">
        <h2>myBlogPosts:</h2>
        {{#each blogs as |blog|}}
        <div class="row d-flex" style="background-color: black;">
          <div class="d-flex justify-content-between">
            <h4><a href="/blogs/{{blog.id}}">📖 {{blog.title}}</a></h4>
            <div class="d-flex flex-row align-items-center">
              <div class="update-post d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/blogs/{{blog.id}}/updateBlog" class="btn btn-sm btn-info me-md-2">Update</a>
                <button class="btn btn-sm btn-danger blog-list" data-id="{{blog.id}}">Delete</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    
    </div>
  </div>

{{! --Show User's comments on User's profile --}}
<div style="background-color: black;">
  <div>
    {{#if comments.length}}
    <div class="row d-flex justify-content-center">
      <div class="d-flex flex-column mb-3 w-50">
        <h3>myComments:</h3>

        {{#each comments as |comment|}}
        <div class="row d-flex border mb-3 p-1">
          <div class="d-flex justify-content-between">
            <div class="container">
              <h4 class="fs-6">💭 {{comment.body}}</h4>
            </div>
            <div class="">
              <div class="d-flex flex-row align-items-center">
                <div class="update-comment d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="/comments/{{comment.id}}/updateComment" class="btn btn-sm btn-info me-md-2">Edit Comment</a>
                  <button class="btn btn-sm btn-danger comment-list" data-id="{{comment.id}}">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>

  </div>
</div>
</div>